table {
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

table td, table th {
    text-align: center;
    padding: 8px;
}

table td {
    border-right: 1px solid #f8f8f8;
    font-size: 20px;
}

table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

table tr:nth-child(even) {
    background: #F8F8F8;
}

input[type="submit"] {
  outline: 0;
  background: darkgrey;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}